<div class="div-principal bg-white m-3 m-md-5">
    <div class="row justify-content-center" [ngClass]="!flagAgregar || flagOpc===3 ?'div-completo':'div-auto'">

      <div class="col-10">
        <div class="row">
          <div class="col-12 mb-4 mt-5">
            <label class="label-empresas">Empresas</label>
            <button *ngIf="flagAgregar" (click)="agregar(false)" class="btn bg-transparent btn-regresar">Regresar</button>
          </div>
    
          <div *ngIf="!flagAgregar" class="col-12 my-3">
            <div class="col-6 col-lg-4 float-end">
                <button (click)="agregar(true)" class="btn bg-transparent btn-agregar">Agregar</button>
            </div>
          </div>

          <div *ngIf="!flagAgregar" class="table-responsive table-border">
            <table class="table table-bordered table-hover">
                <thead class="thead-table">
                    <tr>
                      <th scope="col" class="th-left w-25">ID 
                        <button class="btn-flecha">
                          <svg class="flecha mt-1" xmlns="http://www.w3.org/2000/svg" width="10.351" height="5.957" viewBox="0 0 10.351 5.957">
                            <g id="Grupo_2459" data-name="Grupo 2459" transform="translate(-263.861 -281.136)">
                              <path id="Trazado_479" data-name="Trazado 479" d="M269.058,286.1l4.944-4.96,1.284,1.084-5.167,4.874Z" transform="translate(-1.073 0)" fill="#fff"/>
                              <path id="Trazado_480" data-name="Trazado 480" d="M269.045,287.11l.97-.915-5.1-4.977-1.053,1.018Z" transform="translate(0 -0.017)" fill="#fff"/>
                            </g>
                          </svg>
                        </button>
                      </th>
                      <th scope="col">Nombre
                        <button class="btn-flecha">
                          <svg class="flecha mt-1" xmlns="http://www.w3.org/2000/svg" width="10.351" height="5.957" viewBox="0 0 10.351 5.957">
                            <g id="Grupo_2459" data-name="Grupo 2459" transform="translate(-263.861 -281.136)">
                              <path id="Trazado_479" data-name="Trazado 479" d="M269.058,286.1l4.944-4.96,1.284,1.084-5.167,4.874Z" transform="translate(-1.073 0)" fill="#fff"/>
                              <path id="Trazado_480" data-name="Trazado 480" d="M269.045,287.11l.97-.915-5.1-4.977-1.053,1.018Z" transform="translate(0 -0.017)" fill="#fff"/>
                            </g>
                          </svg>
                        </button>
                      </th>
                      <th scope="col" class="th-right w-25">Status
                        <button class="btn-flecha">
                          <svg class="flecha mt-1" xmlns="http://www.w3.org/2000/svg" width="10.351" height="5.957" viewBox="0 0 10.351 5.957">
                            <g id="Grupo_2459" data-name="Grupo 2459" transform="translate(-263.861 -281.136)">
                              <path id="Trazado_479" data-name="Trazado 479" d="M269.058,286.1l4.944-4.96,1.284,1.084-5.167,4.874Z" transform="translate(-1.073 0)" fill="#fff"/>
                              <path id="Trazado_480" data-name="Trazado 480" d="M269.045,287.11l.97-.915-5.1-4.977-1.053,1.018Z" transform="translate(0 -0.017)" fill="#fff"/>
                            </g>
                          </svg>
                        </button>
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr (click)="mostrar(true)">
                      <th scope="row">U-256134</th>
                      <td>Mondotondo</td>
                      <td>Activa</td>
                    </tr>
                    
                    <tr (click)="mostrar(true)">
                        <th scope="row">U-256134</th>
                        <td>Pat Nat México</td>
                        <td>Verificación pendiente</td>
                      </tr>

                      <tr (click)="mostrar(true)">
                        <th scope="row">U-256134</th>
                        <td>Mondotondo</td>
                        <td>Activa</td>
                      </tr>

                      <tr (click)="mostrar(true)">
                        <th scope="row">U-256134</th>
                        <td>Pat Nat México</td>
                        <td>Verificación pendiente</td>
                      </tr>

                      <tr (click)="mostrar(true)">
                        <th scope="row">U-256134</th>
                        <td>Mondotondo</td>
                        <td>Activa</td>
                      </tr>
                      <tr (click)="mostrar(true)">
                        <th scope="row">U-256134</th>
                        <td>Pat Nat México</td>
                        <td>Verificación pendiente</td>
                      </tr>
                  </tbody>
            </table>
          </div>

          <div *ngIf="flagAgregar" class="col-12 p-0">
           <div class="btn-toolbar col-12 p-1 mt-3" role="toolbar" aria-label="Toolbar with button groups">
            <span class="w-100 bg-white">
              <div class="btn-group div-btn w-100" role="group" aria-label="Basic radio toggle button group">
              <input (click)="cambiarOpc(1)" type="radio" class="btn-check btn-check3" name="btnradio" id="btnradio1" autocomplete="off"checked>
              <label [ngClass]="flagCheck5?'border-r':'border-radius'" class="btn label-check3" for="btnradio1">Información general</label>
          
              <input (click)="cambiarOpc(2)" type="radio" class="btn-check btn-check4" name="btnradio" id="btnradio2" autocomplete="off">
              <label class="btn label-check4" for="btnradio2">Pagos y facturas</label>
  
              <input (click)="cambiarOpc(3)" type="radio" class="btn-check btn-check5" name="btnradio" id="btnradio3" autocomplete="off">
              <label class="btn label-check5" for="btnradio3">Acciones</label>
            </div>
            </span>
          </div>

          <!-- INFROMACION GENERAL -->
          <div *ngIf="flagOpc===1" class="row mb-3 mt-4 justify-content-evenly">

            <div class="col-10 col-md-5 col-lg-4">

              <div class="container-input">
                  <label class="label-input mb-2">ID</label>
                  <input type="number" class="d-block w-100 div-input" id="inid" name="id" placeholder="256134">
              </div>

              <div class="container-input mt-3">
                <label class="label-input mb-2">Nombre</label>
                <input type="text" class="d-block w-100 div-input" id="innombre" name="nombre" placeholder="Mondotondo">
              </div>

              <div class="container-input mt-3">
                <label class="label-input d-block mb-2">Logotipo</label>
                <div class="row align-items-end">
                  <div class="col-12 col-xl-5">
                    <div class="div-img">
                      <label class="label-alt"></label>
                      <!-- <img class="img-preview img-fluid" src="" alt="archivo"> -->
                    </div>
                    
                  </div>
  
                  <div class="col-12 col-xl-7 align-self-end position-relative">
                    <button class="btn-file w-100 mb-4 mt-2 mt-xl-0">Eliminar logotipo</button>

                    <label class="btn btn-file d-block align-self-end position-absolute" style="width: 89%; bottom: 0;"  for="fileupload">Cargar logotipo</label>
                    <input class="fileupload" id="fileupload" type="file"/>
                  </div>

                  
                </div>

              </div>

              <div class="container-input mt-3">
                <label class="label-input mb-2">Grupo</label>
                <label class="switch" style="float: right;"><input type="checkbox" checked/>    <div></div>
                </label>
                <input type="text" class="d-block w-100 div-input" id="ingrupo" name="grupo" placeholder="Nombre del grupo">
                <input type="text" class="d-block w-100 div-input mt-2" id="ingrupo" name="grupo" placeholder="Número de personas">
                <!-- <button class="btn-grupo mt-3">Agregar grupo</button> -->
              </div>

              <div class="row justify-content-end">
                <div class="div-btn-grupo">
                  <button class="btn-grupo mt-3">Agregar grupo</button>
                </div>
              </div>
          
            </div>

            <div class="col-10 col-md-5 col-lg-4">

              <div class="container-input">
                  <label class="label-input mb-2">Descripción</label>
                  <textarea class="form-control d-block w-100 txtarea" id="FormControlTextarea1" placeholder="Creamos soluciones empleando herramientas de comunicación y tecnología para transparentar de forma clara y contextualizada cualquier tipo de información en posesión de organizaciones públicas, privadas o con fines sociales. Contamos con distintos servicios para mejorar la percepción de las organizaciones." rows="3"></textarea>
              </div>

              <div class="container-input mt-3">
                <label class="label-input mb-2">Contacto</label>
                <input type="text" class="d-block w-100 div-input" id="innombreContacto" name="nombreContacto" placeholder="Ernesto Celaya">
                <input type="number" class="d-block w-100 div-input mt-2" id="innumeroContacto" name="numeroContacto" placeholder="55 3434 6161">
                <input type="email" class="d-block w-100 div-input mt-2" id="inmailContacto" name="mailContacto" placeholder="ernesto.celaya@mondotondo.mx">
              </div>

              <div class="container-input mt-3">
                <label class="label-input mb-2">Status</label>
                <input type="text" class="d-block w-100 div-input" id="instatus" name="status" placeholder="Activa">
              </div>

              <div class="container-input mt-3">
                <label class="label-input mb-2">Ecommerce</label>
                <input type="text" class="d-block w-100 div-input" id="inlink" name="link" placeholder="Link">
              </div>
          
            </div>

            <div class="col-10 col-md-5 col-lg-4">

              <div class="container-input mt-3 mt-md-4 mt-lg-0">
                  <label class="label-input mb-2">Certificaciones</label>
                  <input type="text" class="d-block w-100 div-input" id="incertificaciones" name="certificaciones" placeholder="Certificación número uno">

                <div class="row align-items-end mt-2">
                  <div class="col-12 col-xl-5">
                    <div class="div-img">
                      <label class="label-alt">Documentp.pdf</label>
                      <!-- <img class="img-preview img-fluid" src="" alt="archivo"> -->
                    </div>
                    
                  </div>
  
                  <div class="col-12 col-xl-7 align-self-end position-relative">
                    <button class="btn-file w-100 mb-4 mt-2 mt-xl-0">Eliminar documento</button>

                    <label class="btn btn-file d-block align-self-end position-absolute" style="width: 89%; bottom: 0;" for="fileupload">Cargar documento</label>
                    <input class="fileupload" id="fileupload" type="file"/>
                  </div>

                </div>

                <div class="row align-items-end mt-2">
                  <div class="col-12 col-xl-5">
                    <div class="div-img">
                      <label class="label-alt">Logotipo_documento. png</label>
                      <!-- <img class="img-preview img-fluid" src="" alt="archivo"> -->
                    </div>
                    
                  </div>
  
                  <div class="col-12 col-xl-7 align-self-end position-relative">
                    <button class="btn-file w-100 mb-4 mt-2 mt-xl-0">Eliminar logotipo</button>

                    <label class="btn btn-file d-block align-self-end position-absolute" style="width: 89%; bottom: 0;" for="fileupload">Cargar logotipo</label>
                    <input class="fileupload" id="fileupload" type="file"/>
                  </div>
                </div>

                <div class="col">
                  <div class="div-btn-certificacion">
                    <button class="btn-certificacion mt-3">Agregar certificación</button>
                  </div>
                </div>
              </div>
          
            </div>


            <div class="col-12 mt-5">
              <div class="row justify-content-between">
                <div class="col-4">
                  <label class="label-input">Puntos de venta</label>
                </div>
                <div class="col col-lg-4">
                  <button class="btn bg-transparent btn-agregar" style="float: right;">Agregar punto</button>
                </div>
              </div>

              <div class="row mt-3">
                <div class="table-responsive">
                  <table class="table table-bordered table-hover">
                      <thead class="thead-table">
                          <tr class="tr-puntos-venta">
                            <th scope="col" class="th-left th-puntos-venta">Nombre 
                              <button class="btn-flecha">
                                <svg class="flecha mt-1" xmlns="http://www.w3.org/2000/svg" width="10.351" height="5.957" viewBox="0 0 10.351 5.957">
                                  <g id="Grupo_2459" data-name="Grupo 2459" transform="translate(-263.861 -281.136)">
                                    <path id="Trazado_479" data-name="Trazado 479" d="M269.058,286.1l4.944-4.96,1.284,1.084-5.167,4.874Z" transform="translate(-1.073 0)" fill="#fff"/>
                                    <path id="Trazado_480" data-name="Trazado 480" d="M269.045,287.11l.97-.915-5.1-4.977-1.053,1.018Z" transform="translate(0 -0.017)" fill="#fff"/>
                                  </g>
                                </svg>
                              </button>
                            </th>
                            <th scope="col" class="th-puntos-venta">Calle
                              <button class="btn-flecha">
                                <svg class="flecha mt-1" xmlns="http://www.w3.org/2000/svg" width="10.351" height="5.957" viewBox="0 0 10.351 5.957">
                                  <g id="Grupo_2459" data-name="Grupo 2459" transform="translate(-263.861 -281.136)">
                                    <path id="Trazado_479" data-name="Trazado 479" d="M269.058,286.1l4.944-4.96,1.284,1.084-5.167,4.874Z" transform="translate(-1.073 0)" fill="#fff"/>
                                    <path id="Trazado_480" data-name="Trazado 480" d="M269.045,287.11l.97-.915-5.1-4.977-1.053,1.018Z" transform="translate(0 -0.017)" fill="#fff"/>
                                  </g>
                                </svg>
                              </button>
                            </th>
                            <th scope="col">Número exterior
                              <button class="btn-flecha">
                                <svg class="flecha mt-1" xmlns="http://www.w3.org/2000/svg" width="10.351" height="5.957" viewBox="0 0 10.351 5.957">
                                  <g id="Grupo_2459" data-name="Grupo 2459" transform="translate(-263.861 -281.136)">
                                    <path id="Trazado_479" data-name="Trazado 479" d="M269.058,286.1l4.944-4.96,1.284,1.084-5.167,4.874Z" transform="translate(-1.073 0)" fill="#fff"/>
                                    <path id="Trazado_480" data-name="Trazado 480" d="M269.045,287.11l.97-.915-5.1-4.977-1.053,1.018Z" transform="translate(0 -0.017)" fill="#fff"/>
                                  </g>
                                </svg>
                              </button>
                            </th>
                            <th scope="col">Número interior
                              <button class="btn-flecha">
                                <svg class="flecha mt-1" xmlns="http://www.w3.org/2000/svg" width="10.351" height="5.957" viewBox="0 0 10.351 5.957">
                                  <g id="Grupo_2459" data-name="Grupo 2459" transform="translate(-263.861 -281.136)">
                                    <path id="Trazado_479" data-name="Trazado 479" d="M269.058,286.1l4.944-4.96,1.284,1.084-5.167,4.874Z" transform="translate(-1.073 0)" fill="#fff"/>
                                    <path id="Trazado_480" data-name="Trazado 480" d="M269.045,287.11l.97-.915-5.1-4.977-1.053,1.018Z" transform="translate(0 -0.017)" fill="#fff"/>
                                  </g>
                                </svg>
                              </button>
                            </th>
                            <th scope="col" class="th-puntos-venta">Ciudad
                              <button class="btn-flecha">
                                <svg class="flecha mt-1" xmlns="http://www.w3.org/2000/svg" width="10.351" height="5.957" viewBox="0 0 10.351 5.957">
                                  <g id="Grupo_2459" data-name="Grupo 2459" transform="translate(-263.861 -281.136)">
                                    <path id="Trazado_479" data-name="Trazado 479" d="M269.058,286.1l4.944-4.96,1.284,1.084-5.167,4.874Z" transform="translate(-1.073 0)" fill="#fff"/>
                                    <path id="Trazado_480" data-name="Trazado 480" d="M269.045,287.11l.97-.915-5.1-4.977-1.053,1.018Z" transform="translate(0 -0.017)" fill="#fff"/>
                                  </g>
                                </svg>
                              </button>
                            </th>
                            <th scope="col" class="th-puntos-venta">C.P.
                              <button class="btn-flecha">
                                <svg class="flecha mt-1" xmlns="http://www.w3.org/2000/svg" width="10.351" height="5.957" viewBox="0 0 10.351 5.957">
                                  <g id="Grupo_2459" data-name="Grupo 2459" transform="translate(-263.861 -281.136)">
                                    <path id="Trazado_479" data-name="Trazado 479" d="M269.058,286.1l4.944-4.96,1.284,1.084-5.167,4.874Z" transform="translate(-1.073 0)" fill="#fff"/>
                                    <path id="Trazado_480" data-name="Trazado 480" d="M269.045,287.11l.97-.915-5.1-4.977-1.053,1.018Z" transform="translate(0 -0.017)" fill="#fff"/>
                                  </g>
                                </svg>
                              </button>
                            </th>
                            <th scope="col" class="th-right w-auto th-puntos-venta">Estado
                              <button class="btn-flecha">
                                <svg class="flecha mt-1" xmlns="http://www.w3.org/2000/svg" width="10.351" height="5.957" viewBox="0 0 10.351 5.957">
                                  <g id="Grupo_2459" data-name="Grupo 2459" transform="translate(-263.861 -281.136)">
                                    <path id="Trazado_479" data-name="Trazado 479" d="M269.058,286.1l4.944-4.96,1.284,1.084-5.167,4.874Z" transform="translate(-1.073 0)" fill="#fff"/>
                                    <path id="Trazado_480" data-name="Trazado 480" d="M269.045,287.11l.97-.915-5.1-4.977-1.053,1.018Z" transform="translate(0 -0.017)" fill="#fff"/>
                                  </g>
                                </svg>
                              </button>
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Mondotondo Reforma</th>
                            <td>Reforma</td>
                            <td>222</td>
                            <td>375</td>
                            <td>CDMX</td>
                            <td>57100</td>
                            <td>CDMX</td>
                          </tr>
                          
                          <tr>
                            <th scope="row">Mondotondo Reforma</th>
                            <td>Reforma</td>
                            <td>222</td>
                            <td>375</td>
                            <td>CDMX</td>
                            <td>57100</td>
                            <td>CDMX</td>
                          </tr>

                          <tr>
                            <th scope="row">Mondotondo Reforma</th>
                            <td>Reforma</td>
                            <td>222</td>
                            <td>375</td>
                            <td>CDMX</td>
                            <td>57100</td>
                            <td>CDMX</td>
                          </tr>

                          <tr>
                            <th scope="row">Mondotondo Reforma</th>
                            <td>Reforma</td>
                            <td>222</td>
                            <td>375</td>
                            <td>CDMX</td>
                            <td>57100</td>
                            <td>CDMX</td>
                          </tr>

                          <tr>
                            <th scope="row">Mondotondo Reforma</th>
                            <td>Reforma</td>
                            <td>222</td>
                            <td>375</td>
                            <td>CDMX</td>
                            <td>57100</td>
                            <td>CDMX</td>
                          </tr>

                          <tr>
                            <th scope="row">Mondotondo Reforma</th>
                            <td>Reforma</td>
                            <td>222</td>
                            <td>375</td>
                            <td>CDMX</td>
                            <td>57100</td>
                            <td>CDMX</td>
                          </tr>

                          <tr>
                            <th scope="row">Mondotondo Reforma</th>
                            <td>Reforma</td>
                            <td>222</td>
                            <td>375</td>
                            <td>CDMX</td>
                            <td>57100</td>
                            <td>CDMX</td>
                          </tr>
                        </tbody>
                  </table>
                </div>
              </div>

              <div class="row justify-content-end my-5">
                <div class="col-4">
                  <button class="btn bg-transparent btn-guardar">Guardar</button>
                </div>
                <div class="col-4">
                  <button class="btn bg-transparent btn-verificar">Verificar</button>
                </div>
              </div>
              
            </div>

          </div>

          <!-- PAGOS Y FACTURAS -->
          <div *ngIf="flagOpc===2" class="row mb-3 mt-4 justify-content-evenly">
            <div class="col-10 col-md-5 col-lg-4">
              <div class="container-input">
                <label class="label-input mb-2">Nombre legal</label>
                <input type="text" class="d-block w-100 div-input" id="innombrelegal" name="nombrelegal" placeholder="256134">
              </div>

              <div class="container-input mt-3">
                <label class="label-input mb-2">RFC</label>
                <input type="text" class="d-block w-100 div-input" id="inrfc" name="rfc" placeholder="Mondotondo">
              </div>

              <div class="container-input mt-3">
                <label class="label-input mb-2">Calle</label>
                <input type="text" class="d-block w-100 div-input" id="incalle" name="calle" placeholder="Mondotondo">
              </div>

              <div class="container-input mt-3">
                <label class="label-input mb-2">Número exterior</label>
                <input type="text" class="d-block w-100 div-input" id="innoexterior" name="noexterior" placeholder="Mondotondo">
              </div>

              <div class="container-input mt-3">
                <label class="label-input mb-2">Link de procesador de pagos</label>
                <input type="text" class="d-block w-100 div-input" id="inlinkpagos" name="linkpagos" placeholder="http:/…">
              </div>
            </div>

            <div class="col-10 col-md-5 col-lg-4">
              <div class="container-input">
                <label class="label-input mb-2">Ciudad</label>
                <input type="text" class="d-block w-100 div-input" id="inciudad" name="ciudad" placeholder="Mondotondo">
              </div>

              <div class="container-input mt-3">
                <label class="label-input mb-2">País</label>
                <input type="text" class="d-block w-100 div-input" id="inpais" name="pais" placeholder="Mondotondo">
              </div>

              <div class="container-input mt-3">
                <label class="label-input mb-2">Número interior</label>
                <input type="text" class="d-block w-100 div-input" id="innointerior" name="nointerior" placeholder="Mondotondo">
              </div>

              <div class="container-input mt-3">
                <label class="label-input mb-2">C.P.</label>
                <input type="text" class="d-block w-100 div-input" id="incp" name="cp" placeholder="Mondotondo">
              </div>
            </div>

            <div class="col-10 col-md-5 col-lg-4">
              <div class="container-input mt-3">
                <label class="label-input d-block mb-2">Documento fiscal</label>
                <div class="row align-items-end">
                  <div class="col-12 col-xl-5">
                    <div class="div-img">
                      <label class="label-alt">Doc_fiscal.pdf</label>
                      <!-- <img class="img-preview img-fluid" src="" alt="archivo"> -->
                    </div>
                    
                  </div>
  
                  <div class="col-12 col-xl-7 align-self-end position-relative">
                    <button class="btn-file w-100 mb-4 mt-2 mt-xl-0">Eliminar documento</button>

                    <label class="btn btn-file d-block align-self-end position-absolute" style="width: 89%; bottom: 0;"  for="fileupload">Cargar documento</label>
                    <input class="fileupload" id="fileupload" type="file"/>
                  </div>

                  
                </div>

              </div>

              <div class="container-input mt-3">
                <label class="label-input mb-2">Cuenta</label>
                <input type="text" class="d-block w-100 div-input" id="inbanco" name="banco" placeholder="Banco">
                <input type="text" class="d-block w-100 div-input mt-2" id="innombrecuenta" name="nombrecuenta" placeholder="Nombre">
                <input type="text" class="d-block w-100 div-input mt-2" id="innocuenta" name="nocuenta" placeholder="Número de cuenta">
                <input type="text" class="d-block w-100 div-input mt-2" id="inclabe" name="clabe" placeholder="CLABE">
              </div>
            </div>

            <div class="col-12 mt-5">
              <div class="row justify-content-end my-5">
                <div class="col-4">
                  <button class="btn bg-transparent btn-guardar">Guardar</button>
                </div>
                <div class="col-4">
                  <button class="btn bg-transparent btn-verificar">Verificar</button>
                </div>
              </div>
            </div>
          </div>


          <!-- ACCIONES -->
          <div *ngIf="flagOpc===3" class="row mb-3 mt-5">
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                  <thead class="thead-table">
                      <tr>
                        <th scope="col" class="th-left">ID 
                          <button class="btn-flecha">
                            <svg class="flecha mt-1" xmlns="http://www.w3.org/2000/svg" width="10.351" height="5.957" viewBox="0 0 10.351 5.957">
                              <g id="Grupo_2459" data-name="Grupo 2459" transform="translate(-263.861 -281.136)">
                                <path id="Trazado_479" data-name="Trazado 479" d="M269.058,286.1l4.944-4.96,1.284,1.084-5.167,4.874Z" transform="translate(-1.073 0)" fill="#fff"/>
                                <path id="Trazado_480" data-name="Trazado 480" d="M269.045,287.11l.97-.915-5.1-4.977-1.053,1.018Z" transform="translate(0 -0.017)" fill="#fff"/>
                              </g>
                            </svg>
                          </button>
                        </th>
                        <th scope="col">Nombre
                          <button class="btn-flecha">
                            <svg class="flecha mt-1" xmlns="http://www.w3.org/2000/svg" width="10.351" height="5.957" viewBox="0 0 10.351 5.957">
                              <g id="Grupo_2459" data-name="Grupo 2459" transform="translate(-263.861 -281.136)">
                                <path id="Trazado_479" data-name="Trazado 479" d="M269.058,286.1l4.944-4.96,1.284,1.084-5.167,4.874Z" transform="translate(-1.073 0)" fill="#fff"/>
                                <path id="Trazado_480" data-name="Trazado 480" d="M269.045,287.11l.97-.915-5.1-4.977-1.053,1.018Z" transform="translate(0 -0.017)" fill="#fff"/>
                              </g>
                            </svg>
                          </button>
                        </th>
                        <th scope="col">Tipo
                          <button class="btn-flecha">
                            <svg class="flecha mt-1" xmlns="http://www.w3.org/2000/svg" width="10.351" height="5.957" viewBox="0 0 10.351 5.957">
                              <g id="Grupo_2459" data-name="Grupo 2459" transform="translate(-263.861 -281.136)">
                                <path id="Trazado_479" data-name="Trazado 479" d="M269.058,286.1l4.944-4.96,1.284,1.084-5.167,4.874Z" transform="translate(-1.073 0)" fill="#fff"/>
                                <path id="Trazado_480" data-name="Trazado 480" d="M269.045,287.11l.97-.915-5.1-4.977-1.053,1.018Z" transform="translate(0 -0.017)" fill="#fff"/>
                              </g>
                            </svg>
                          </button>
                        </th>
                        <th scope="col">Capítulo
                          <button class="btn-flecha">
                            <svg class="flecha mt-1" xmlns="http://www.w3.org/2000/svg" width="10.351" height="5.957" viewBox="0 0 10.351 5.957">
                              <g id="Grupo_2459" data-name="Grupo 2459" transform="translate(-263.861 -281.136)">
                                <path id="Trazado_479" data-name="Trazado 479" d="M269.058,286.1l4.944-4.96,1.284,1.084-5.167,4.874Z" transform="translate(-1.073 0)" fill="#fff"/>
                                <path id="Trazado_480" data-name="Trazado 480" d="M269.045,287.11l.97-.915-5.1-4.977-1.053,1.018Z" transform="translate(0 -0.017)" fill="#fff"/>
                              </g>
                            </svg>
                          </button>
                        </th>
                        <th scope="col" class="th-right">Status
                          <button class="btn-flecha">
                            <svg class="flecha mt-1" xmlns="http://www.w3.org/2000/svg" width="10.351" height="5.957" viewBox="0 0 10.351 5.957">
                              <g id="Grupo_2459" data-name="Grupo 2459" transform="translate(-263.861 -281.136)">
                                <path id="Trazado_479" data-name="Trazado 479" d="M269.058,286.1l4.944-4.96,1.284,1.084-5.167,4.874Z" transform="translate(-1.073 0)" fill="#fff"/>
                                <path id="Trazado_480" data-name="Trazado 480" d="M269.045,287.11l.97-.915-5.1-4.977-1.053,1.018Z" transform="translate(0 -0.017)" fill="#fff"/>
                              </g>
                            </svg>
                          </button>
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">A-256134</th>
                        <td>Báñate en dos canciones</td>
                        <td>Hazlo tú mismo</td>
                        <td>Legislativo</td>
                        <td>Nacional</td>
                      </tr>
                      <tr>
                        <th scope="row">A-256134</th>
                        <td>Báñate en dos canciones</td>
                        <td>Hazlo tú mismo</td>
                        <td>Legislativo</td>
                        <td>Nacional</td>
                      </tr>
                      <tr>
                        <th scope="row">A-256134</th>
                        <td>Báñate en dos canciones</td>
                        <td>Hazlo tú mismo</td>
                        <td>Legislativo</td>
                        <td>Nacional</td>
                      </tr>
                      <tr>
                        <th scope="row">A-256134</th>
                        <td>Báñate en dos canciones</td>
                        <td>Hazlo tú mismo</td>
                        <td>Legislativo</td>
                        <td>Nacional</td>
                      </tr>
                      <tr>
                        <th scope="row">A-256134</th>
                        <td>Báñate en dos canciones</td>
                        <td>Hazlo tú mismo</td>
                        <td>Legislativo</td>
                        <td>Nacional</td>
                      </tr>
                      <tr>
                        <th scope="row">A-256134</th>
                        <td>Báñate en dos canciones</td>
                        <td>Hazlo tú mismo</td>
                        <td>Legislativo</td>
                        <td>Nacional</td>
                      </tr>
                      <tr>
                        <th scope="row">A-256134</th>
                        <td>Báñate en dos canciones</td>
                        <td>Hazlo tú mismo</td>
                        <td>Legislativo</td>
                        <td>Nacional</td>
                      </tr>
                    </tbody>
              </table>
            </div>
          </div>

      </div>

    </div>
</div>
