<div class="div-principal bg-white m-3 m-md-5">
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="row">
              <div class="col-12 mb-4 mt-5">
                <label class="label-copy">Copy</label>
              </div>
            </div>

            <div class="row mb-3 mt-4 justify-content-evenly">

                <div class="col-12">
    
                  <div class="container-input">
                      <label class="label-input mb-2">Notificación para recuperar usuarios</label>
                      <input type="text" class="d-block w-100 div-input" id="innotificacion" name="notificacion" placeholder="Escribir texto">
                  </div>

                  <div class="row justify-content-end mt-3">
                    <div class="col-6 col-lg-4">
                      <button class="btn bg-transparent btn-enviar">Enviar</button>
                    </div>
                  </div>
                </div>

                <div class="col-12 mt-3">
    
                    <div class="container-input">
                        <label class="label-input d-block mb-2">Notificación de emergencias</label>
                        <label class="label-input label-input2 d-block d-lg-inline-block">SOS</label>
                        <input type="text" class="div-input input-suceso mb-2" id="insuceso" name="suceso" placeholder="Escribe el texto del suceso">

                        <label class="label-input d-inline-block label-input3 d-block d-lg-inline-block">en</label>
                        <input type="text" class="div-input input-en" id="inen" name="en" placeholder="Ciudad de México">
                        <input type="text" class="div-input input-accion" id="inaccion" name="accion" placeholder="Escribe el nombre de la acción">
                    </div>
  
                    <div class="row justify-content-end mt-3">
                      <div class="col-6 col-lg-4">
                        <button class="btn bg-transparent btn-enviar">Enviar</button>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>