<div class="div-principal bg-white m-3 m-md-5">
  <div class="row justify-content-center">
    <div class="col pt-2 col-container">
      <div class="row justify-content-md-center bg-white mx-4 mt-4 mb-5 p-4 p-lg-0 div-contenedor">

        <div class="col-11 mb-4 mt-4 div-title" style="padding-left: 20px;">
          <label class="label-title">Datos Generales</label>
        </div>

        <div class="col-12 col-lg-4 col-xl-4 px-3 mx-md-3 mt-4 mt-lg-0 pt-0">
          <div class="row row-grafica p-0">
            <label class="label-container-grafica p-0 mb-3">Número de acciones tomadas</label>
            <div class="container1-dashboard">

              <div class="pt-3" style="height: 245px;">
                <svg class="img-fluid" xmlns="http://www.w3.org/2000/svg" width="210" height="210" viewBox="0 0 300 300">
                  <g id="Grupo_2505" data-name="Grupo 2505" transform="translate(-393.421 -51.14)">
                    <g id="Grupo_138" data-name="Grupo 138" transform="translate(393.421 51.14)">
                      <path id="Trazado_414" data-name="Trazado 414" d="M543.42,351.14c-82.708,0-150-67.289-150-150s67.291-150,150-150,150,67.291,150,150S626.13,351.14,543.42,351.14Zm0-250.084A100.084,100.084,0,1,0,643.505,201.141,100.2,100.2,0,0,0,543.42,101.056Z" transform="translate(-393.421 -51.14)" fill="#7d52cf"/>
                    </g>
                    <g id="Grupo_139" data-name="Grupo 139" transform="translate(393.421 124.96)">
                      <path id="Trazado_415" data-name="Trazado 415" d="M439.768,251.8a24.934,24.934,0,0,1-20.708-10.994A150.222,150.222,0,0,1,406.54,95.474a24.964,24.964,0,0,1,45.546,20.456,100.3,100.3,0,0,0,8.348,96.93A24.97,24.97,0,0,1,439.768,251.8Z" transform="translate(-393.421 -80.729)" fill="#fc734d"/>
                    </g>
                    <g id="Grupo_140" data-name="Grupo 140" transform="translate(414.78 246.066)">
                      <path id="Trazado_416" data-name="Trazado 416" d="M530.658,234.328a149.972,149.972,0,0,1-124.4-66.134,24.966,24.966,0,0,1,41.374-27.953A100.1,100.1,0,0,0,530.658,184.4a24.965,24.965,0,0,1,0,49.929Z" transform="translate(-401.977 -129.254)" fill="#2ce392"/>
                    </g>
                    <g id="Grupo_141" data-name="Grupo 141" transform="translate(518.413 201.337)">
                      <path id="Trazado_417" data-name="Trazado 417" d="M468.487,261.14a24.965,24.965,0,1,1,0-49.929,100.4,100.4,0,0,0,98.082-79.91,24.963,24.963,0,1,1,48.913,10.008C601.274,210.746,539.454,261.14,468.487,261.14Z" transform="translate(-443.522 -111.337)" fill="#4083ff"/>
                    </g>
                    <g id="Grupo_142" data-name="Grupo 142" transform="translate(518.413 51.14)">
                      <path id="Trazado_418" data-name="Trazado 418" d="M591.051,251.359a25,25,0,0,1-24.483-29.973,100.237,100.237,0,0,0-98.082-120.317,24.965,24.965,0,1,1,0-49.929c82.733,0,150.043,67.31,150.043,150.043a150.857,150.857,0,0,1-3.048,30.21A24.97,24.97,0,0,1,591.051,251.359Z" transform="translate(-443.522 -51.14)" fill="#f74158"/>
                    </g>
                    <circle id="Elipse_82" data-name="Elipse 82" cx="24.965" cy="24.965" r="24.965" transform="translate(518.456 51.141)" fill="#7d52cf"/>
                  </g>
                </svg>
              </div>
              

              <label>7,511,232</label>

              <div class="col-12 cuadricula p-0 mt-3">
                <div class="row row-acciones justify-content-evenly">
                  <div class="col-11 col-md-5 col-lg-5 col-xl-3 p-0 my-1 my-xl-0 col-accion col-social">
                    <label class="label-porcent">10%</label>
                    <p class="p-accion">Social</p>
                  </div>
                  <div class="col-11 col-md-5 col-lg-5 col-xl-3 p-0 my-1 my-xl-0 col-accion col-legislativo">
                    <label class="label-porcent">15%</label>
                    <p class="p-accion">Legislativo</p>
                  </div>
                  <div class="col-11 col-md-5 col-lg-5 col-xl-3 p-0 my-1 my-xl-0 col-accion col-fauna">
                    <label class="label-porcent">20%</label>
                    <p class="p-accion">Fauna</p>
                  </div>
                </div>
                <div class="row row-acciones justify-content-evenly my-3">
                  <div class="col-11 col-md-5 col-lg-5 col-xl-3 p-0 my-1 my-xl-0 col-accion col-tierra">
                    <label class="label-porcent">25%</label>
                    <p class="p-accion">Tierra</p>
                  </div>
                  <div class="col-11 col-md-5 col-lg-5 col-xl-3 p-0 my-1 my-xl-0 col-accion col-agua">
                    <label class="label-porcent">15%</label>
                    <p class="p-accion">Agua</p>
                  </div>
                  <div class="col-11 col-md-5 col-lg-5 col-xl-3 p-0 my-1 my-xl-0 col-accion col-emergencia">
                    <label class="label-porcent">15%</label>
                    <p class="p-accion">Emergencia</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row row-select mt-4">
            <label class="label-select p-0">Impacto de grupo</label>
            <select class="label-select-option" style="height: 40px; border-radius: 5px;">
              <option value="0">Elegir grupo</option>
              <option value="1">Audi</option>
              <option value="2">BMW</option>
              <option value="3">Citroen</option>
              <option value="4">Ford</option>
            </select>
          </div>
        </div>

        <div class="col-12 col-lg-5 col-xl-3 mt-5 mt-lg-0 mx-md-3">
          <div class="row row-containers">
            <label class="label-containers p-0 mb-3">Número de usuarios</label>
            <div class="container2-dashboard">
              <label>7,511,232</label>
            </div>
          </div>
          <div class="row row-containers mt-3">
            <label class="label-containers p-0">Número de empresas</label>
            <div class="container2-dashboard">
              <label>7,511,232</label>
            </div>
          </div>
          <div class="row row-containers mt-3">
            <label class="label-containers p-0">Número de organizaciones</label>
            <div class="container2-dashboard">
              <label>7,511,232</label>
            </div>
          </div>
          <div class="row row-containers mt-4">
            <label class="label-containers p-0">C02 ahorrado</label>
            <div class="col-12 div-co2 py-lg-3">
              <svg class="mb-0 ml-5 mb-xl-5 mt-3 mt-lg-0 ml-3 ml-lg-0 img-co2" xmlns="http://www.w3.org/2000/svg" width="89.379" height="71.125" viewBox="0 0 89.379 71.125">
                <g id="Grupo_186" data-name="Grupo 186" transform="translate(-127.724 -154.101)">
                  <path id="Trazado_471" data-name="Trazado 471" d="M183.242,225.226c-3.747,0-9.815-4.618-12.322-4.6s-10,4.378-13.26,4.183-17.031-7.581-19.3-9.34-3.151-11.058-4.229-13.1-5.227-9.862-6.237-12.255,2.69-16.707,3.715-18.8,11.3-4.364,12.966-5.581,15.958-11.042,17.686-11.571,24.035,3.163,26.584,4.2,8.757,12.45,10.128,12.941,12.791,4.515,14.212,5.818,4.059,15.9,3.908,17.149-7.488,9.182-8.377,11.508-2.47,11.362-4.112,12.8S186.988,225.226,183.242,225.226Zm-12.149-11.267c2.024-.014,10.1,4.609,12.336,4.609s14.576-3.982,15.8-4.93,2.64-7.067,3.529-10.124,7.226-7.489,7.656-10.212-.7-10.092-2.645-11.6-11.175-4.518-12.728-5.21-7.55-10.875-9.518-12.162-19.4-4.137-21.615-3.656-14.135,9.679-16.27,10.6-9.423,3.245-10.487,4.514-2.65,11.943-2.65,13.41,4.761,9.693,5.63,11.061,2.847,9.274,3.692,10.528,12.725,7.766,14.011,7.361S169.069,213.973,171.093,213.959Z" transform="translate(0)" fill="#fff"/>
                </g>
              </svg>
              <div class="d-inline-block div-datos-co2">
                <label class="d-block label-cantidad">7,233,430</label>
                <label class="label-unidad">ton CO2 eq</label>
              </div>
            </div>
          </div>

          <div class="row row-containers mt-4 pt-3">
            <label class="label-containers p-0">Huella de carbono inicial</label>
            <div class="container3-dashboard">
              <label class="label-co2-inicial">23,500 ton CO2 eq</label>
            </div>
          </div>

          <div class="row row-containers mb-4 pt-3">
            <label class="label-containers p-0">Ton CO2 ahorrado</label>
            <div class="container3-dashboard">
              <label class="label-co2-ahorrado">23,500 ton CO2 eq</label>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-5 col-xl-3 mt-4 mt-md-5 mt-xl-0 mx-md-3 pb-5 pb-xl-0">
          <div class="row row-containers">
            <label class="label-containers p-0 mb-3">Número de donativos</label>
            <div class="container2-dashboard">
              <label>7,511,232</label>
            </div>
          </div>

          <div class="row row-containers mt-3">
            <label class="label-containers p-0">Número de reward canjeados</label>
            <div class="container2-dashboard">
              <label>7,511,232</label>
            </div>
          </div>

          <div class="row row-containers mt-3" style="visibility: hidden;">
            <label class="label-containers p-0">Número de donativos</label>
            <div class="container2-dashboard">
              <label>7,511,232</label>
            </div>
          </div>
          
          <div class="row row-containers mt-4">
            <label class="label-containers p-0">Litros de agua ahorrados</label>
            <div class="div-agua py-lg-3">
              <svg class="img-agua mb-0 ml-5 mb-xl-5 mt-3 mt-lg-0 ml-3 ml-lg-0" xmlns="http://www.w3.org/2000/svg" width="89.371" height="71.177" viewBox="0 0 89.371 84.177">
                <g id="Grupo_191" data-name="Grupo 191" transform="translate(-128.364 -144.827)">
                  <g id="Grupo_188" data-name="Grupo 188" transform="translate(128.364 144.827)">
                    <g id="Grupo_187" data-name="Grupo 187">
                      <path id="Trazado_472" data-name="Trazado 472" d="M161.191,229c-5.244,0-17.01-3.543-21.6-7.312-3.824-3.137-11.223-15.933-11.223-27.022,0-8.294,12.231-22.6,13.231-24.966s13.212-24.878,16.444-24.878,13.256,20.016,14.786,21.824,15.334,17.625,16.821,26.039c1.115,6.311-3.509,22.279-7.466,26.534C178.129,223.58,166.363,229,161.191,229Zm-16.952-11.165c3.761,2.673,12.19,4.85,17.4,4.85,5.4,0,14.72-5.955,17.255-8.365,1.975-1.877,5.505-15.1,4.541-21.634-1.143-7.743-14.37-21.385-15.72-23.267s-8.358-14.035-10.177-14.035-9.015,14.035-10.076,16.313-13.321,15.675-13.321,23.793C134.139,202.424,142.033,216.271,144.239,217.839Z" transform="translate(-128.364 -144.827)" fill="#fff"/>
                    </g>
                  </g>
                  <g id="Grupo_190" data-name="Grupo 190" transform="translate(170.326 144.827)">
                    <g id="Grupo_189" data-name="Grupo 189">
                      <path id="Trazado_473" data-name="Trazado 473" d="M308.608,192.69c-1.488-8.414-15.312-24.23-16.844-26.039s-11.57-21.824-14.807-21.824c-2.827,0-12.516,17.174-15.589,23.1a36.526,36.526,0,0,0,2.106,3.841c.458.7.943,1.38,1.431,2.058a16.6,16.6,0,0,0,1.459-2.124c1.062-2.277,8.268-16.313,10.09-16.313s8.84,12.155,10.192,14.035,14.6,15.523,15.743,23.267c.966,6.535-2.57,19.757-4.548,21.634-2.539,2.41-11.871,8.365-17.279,8.365a40.974,40.974,0,0,1-13.262-2.73,34.848,34.848,0,0,1-5.7,3.733c5.529,2.933,14.216,5.313,18.52,5.313,5.179,0,16.962-5.424,21.019-9.781C305.094,214.968,309.724,199,308.608,192.69Z" transform="translate(-261.368 -144.827)" fill="#fff"/>
                    </g>
                  </g>
                </g>
              </svg>
              
              <div class="d-inline-block div-datos-agua">
                <label class="d-block label-cantidad">7,233,430</label>
                <label class="label-unidad">L de agua</label>
              </div>
            </div>
          </div>

          <div class="row row-containers mt-4 pt-3 mb-4 mb-lg-0">
            <label class="label-containers p-0">Huella de agua inicial</label>
            <div class="container3-dashboard">
              <label class="label-agua-inicial">23,500 L de agua</label>
            </div>
          </div>

          <div class="row row-containers mb-4 pt-3 mb-lg-0">
            <label class="label-containers p-0">Litros de agua ahorrados</label>
            <div class="container3-dashboard">
              <label class="label-agua-ahorrada">23,500 L de agua</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



